<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="/assets/images/UPID.png" title="img title" alt="imagealt"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            <h5>Benvenuti su <b>UPID</b>, scopri sul progetto da qui!</h5>
            <p>Il progetto UPID, ideato da Gabriel Jones, rappresenta un'iniziativa ambiziosa che si inserisce nell'ambito culturale, promuovendo un ampio ventaglio di discipline umanistiche. Il focus principale si concentra su aree tradizionalmente legate alla cultura, come la biblioteconomia, l'archivistica e le lettere, ma non si limita a queste. Infatti, il progetto si estende anche a materie interdisciplinari, tra cui psicologia, scienze dell'educazione, e molte altre, affrontando tematiche che spaziano dal benessere individuale alla gestione delle informazioni e dei patrimoni culturali. L'approccio di UPID si propone di integrare conoscenze provenienti da vari settori, creando connessioni tra diverse aree del sapere per favorire una formazione più completa e articolata, rispondendo così alle esigenze di un mondo sempre più interconnesso e in continua evoluzione.</p>
            <a class="read-more" href="/saggi/saggiosulruolodelleducatore/">
              <span class="text">Leggi di più</span>
              <svg class="icon">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
